// Selection
::selection {
  background: rgba($ink, 0.2);
}

// Links
a {
  color: $ink;
  text-decoration: none;
  transition: 0.2s;

  &:hover, &.hover {
    cursor: pointer;
    color: lighten($ink, 10);
  }

  &:active, &.active {
    color: darken($ink, 10);
  }

  &.visited {
    color: darken($ink, 15);
  }
}

// Buttons
.btn, button {
  font-family: $sans;
  margin-bottom: 0;
  border: none;
  border-radius: 25px;
  background: none;
  -webkit-appearance: none;
  line-height: 1;
  transition: 0.2s;
  font-size: $body-size - 1px;

  &:focus {
    outline: none;
  }
}

.btn-line {
  padding: 12px 25px;
  border: 1px solid $ink;
  color: $ink;
  opacity: 0.3;
  position: relative;

  &:hover {
    opacity: 0.7;
  }
}

.btn-load {
  clear: both;
  display: table;
  padding-left: 48px;
  margin: 50px auto;

  &:after {
    @include icon-pseudo;
    @extend .i-load;
    top: 12px;
    left: 22px;
    opacity: 0.5;
  }
}

.btn-next {
  padding-right: 35px;

  @media screen and ( max-width: $small ) {
    padding-right: 30px;
    padding-left: 15px;
  }

  &:after {
    @include icon-pseudo;
    @extend .i-rarrow;
    top: 12px;
    right: 14px;
    opacity: 0.5;
  }
}

.btn-share {
  padding-right: 20px;
  padding-left: 42px;
  position: relative;
  z-index: 2;

  &:after {
    @include icon-pseudo;
    @extend .i-share;
    top: 12px;
    left: 17px;
    opacity: 0.5;
  }
}

.btn-email,
.btn-twitter,
.btn-facebook {
  font-size: 1px;
  color: transparent;
  width: 41px;
  height: 41px;
  padding: 0;
  position: absolute;
  top: 0;
  transform: 2s;
}

.btn-email {
  .post-share & {
    left: 108px;

    @media screen and ( max-width: $small ) {
      left: 0;
    }
  }

  &:after {
    @include icon-pseudo;
    @extend .i-email;
    top: 11px;
    left: 8px;
    opacity: 0.5;
  }
}

.btn-twitter {
  .post-share & {
    left: 156px;

    @media screen and ( max-width: $small ) {
      left: 48px;
    }
  }

  &:after {
    @include icon-pseudo;
    @extend .i-twitter;
    top: 11px;
    left: 7px;
    opacity: 0.5;
  }
}

.btn-facebook {
  .post-share & {
    left: 204px;

    @media screen and ( max-width: $small ) {
      left: 96px;
    }
  }

  &:after {
    @include icon-pseudo;
    @extend .i-twitter;
    top: 11px;
    left: 7px;
    opacity: 0.5;
  }
}

// Fields
input, textarea {
  padding: 10px;
  display: block;
  -webkit-appearance: none;
  border-radius: 0;

  &:focus{
    outline: none;
  }
}

// Images
img {
  max-width: 100%;
  display: block;
}

// Lists
ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
  list-style: none;

  ul, ul ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $serif-bold;
}

dd {
  margin-left: 1.4em;
}


// Article
figcaption {
  padding: 10px 0;
  color: lighten($light-ink, 20);
  font-size: $epsilon;
  font-family: $sans;

  img + &,
  .post-hero & {
    padding-left: 30px;
  }
}

// Categories
.cat-list,
.tag-list {
  li {
    @media screen and ( max-width: $small ) {
      display: inline-block;
    }
  }
}

.cat,
.tag {
  padding: 9px 12px;
  border: 1px solid rgba($primary, 0.1);
  color: rgba($primary, 0.6);
  font-family: $sans;
  display: table;
  margin-top: 6px;
  margin-bottom: 2px;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: $epsilon;
  line-height: 1;
  transition: 0.2s;

  &:hover {
    color: $primary;
    border: 1px solid rgba($primary, 0.4);
  }
}

.tag {
  color: rgba($light-ink, 0.8);
  border-color: rgba($light-ink, 0.2);

  &:hover {
    color: $ink;
    border-color: rgba($light-ink, 0.6);
  }
}