// Selection
::selection {
  background: rgba($ink, 0.2);
}

// Links
a {
  color: $ink;
  text-decoration: none;

  &:hover, &.hover {
    cursor: pointer;
    color: lighten($ink, 10);
  }

  &:active, &.active {
    color: darken($ink, 10);
  }

  &.visited {
    color: darken($ink, 15);
  }
}

// Buttons
.btn, button {
  font-family: $sans;
  margin-bottom: 0;
  border: none;
  border-radius: 25px;
  background: none;
  -webkit-appearance: none;
  line-height: 1;
  transition: 0.2s;
  font-size: $body-size - 1px;

  &:focus {
    outline: none;
  }
}

.btn-line {
  padding: 12px 25px 12px 48px;
  border: 1px solid $ink;
  color: $ink;
  opacity: 0.3;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &:after {
    @include icon-pseudo;
    @extend .i-load;
    top: 12px;
    left: 22px;
    opacity: 0.5;
  }
}

.btn-load {
  clear: both;
  display: table;
  margin: 20px auto 80px;
}

// Fields
input, textarea {
  padding: 10px;
  display: block;
  -webkit-appearance: none;
  border-radius: 0;

  &:focus{
    outline: none;
  }
}

// Images
img {
  max-width: 100%;
  display: block;
}

// Lists
ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
  list-style: none;

  ul, ul ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $serif-bold;
}

dd {
  margin-left: 1.4em;
}

// Categories
.cat-list {
  li {
    @media screen and ( max-width: $small ) {
      display: inline-block;
    }
  }
}

.cat {
  padding: 9px 12px;
  border: 1px solid rgba($primary, 0.1);
  color: rgba($primary, 0.6);
  font-family: $sans;
  display: table;
  margin-top: 6px;
  margin-bottom: 2px;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: $epsilon;
  line-height: 1;

  &:hover {
    color: $primary;
    border: 1px solid rgba($primary, 0.4);
  }
}

.tag {
  color: rgba($light-ink, 0.8);
  border-color: rgba($light-ink, 0.2);

  &:hover {
    color: $ink;
    border-color: rgba($light-ink, 0.6);
  }
}