//================================================
// FONTS
//================================================
// Meta Serif - Regular
@font-face {
    font-family: 'meta';
    src: url('../fonts/metaserif-reg/metaserif-reg.eot');
    src: url('../fonts/metaserif-reg/metaserif-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaserif-reg/metaserif-reg.woff') format('woff'),
         url('../fonts/metaserif-reg/metaserif-reg.ttf') format('truetype'),
         url('../fonts/metaserif-reg/metaserif-reg.svg#meta') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Meta Serif - Bold
@font-face {
    font-family: 'meta';
    src: url('../fonts/metaserif-bold/metaserif-bold.eot');
    src: url('../fonts/metaserif-bold/metaserif-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaserif-bold/metaserif-bold.woff') format('woff'),
         url('../fonts/metaserif-bold/metaserif-bold.ttf') format('truetype'),
         url('../fonts/metaserif-bold/metaserif-bold.svg#meta') format('svg');
    font-weight: 600;
    font-style: normal;
}

// Dagny - Regular
@font-face {
    font-family: 'dagny';
    src: url('../fonts/dagny-reg/dagny-reg.eot');
    src: url('../fonts/dagny-reg/dagny-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dagny-reg/dagny-reg.woff') format('woff'),
         url('../fonts/dagny-reg/dagny-reg.ttf') format('truetype'),
         url('../fonts/dagny-reg/dagny-reg.svg#dagny') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Dagny - Bold
@font-face {
    font-family: 'dagny';
    src: url('../fonts/dagny-bold/dagny-bold.eot');
    src: url('../fonts/dagny-bold/dagny-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dagny-bold/dagny-bold.woff') format('woff'),
         url('../fonts/dagny-bold/dagny-bold.ttf') format('truetype'),
         url('../fonts/dagny-bold/dagny-bold.svg#dagny') format('svg');
    font-weight: 600;
    font-style: normal;
}

// Dagny - Black
@font-face {
    font-family: 'dagny';
    src: url('../fonts/dagny-black/dagny-black.eot');
    src: url('../fonts/dagny-black/dagny-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dagny-black/dagny-black.woff') format('woff'),
         url('../fonts/dagny-black/dagny-black.ttf') format('truetype'),
         url('../fonts/dagny-black/dagny-black.svg#dagny') format('svg');
    font-weight: 900;
    font-style: normal;
}