*,
*::before,
*:after{
  box-sizing: border-box;
  font-family: $serif;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: lighten($slate, 5);
  font-size: $body-size;
  font-weight: $regular;
  line-height: 1.4;
  color: $ink;
}

// Grid
.grid {
  @include clearfix;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: $gutter;
  padding-right: $gutter;
}

.padded {
  padding: $gutter;
}

[class*='col-'] {
  float: left;
  padding-right: $gutter;
  padding-left: $gutter;
}

.col-1-1 { width: 100%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }

@media screen and ( max-width: $small ) {
  [class*='col-'] { 
    width: 100%; 
    float: none;
  }

  .mobile-col-2-3, 
  .mobile-col-1-3, 
  .mobile-col-1-2, 
  .mobile-col-1-4, 
  .mobile-col-1-8 {
    float: left;
  } 
  
  .mobile-col-2-3 { width: 66.66%; }
  .mobile-col-1-3 { width: 33.33%; }
  .mobile-col-1-2 { width: 50%; }
  .mobile-col-1-4 { width: 25%; }
  .mobile-col-1-8 { width: 12.5%; }
}