// @include clearfix;
@mixin clearfix {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

// @include icon;
@mixin icon {
  color: transparent;
  overflow: hidden;
  display: block;

  &:hover {
    color: transparent;
  }
}

// @include icon-pseudo
@mixin icon-pseudo {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
}