@mixin sprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: url( #{ nth( $spriteVals, 3 ) } );
  background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
}

$sprite-path: '../images/sprite.svg';
$facebook-dark: 11px 19px $sprite-path -122px 0px;
$email-dark: 20px 16px $sprite-path -100px 0px;
$twitter-dark: 21px 17px $sprite-path -75px 0px;
$close-white: 15px 15px $sprite-path -25px -20px;
$menu-white: 22px 15px $sprite-path 0px -20px;
$share-dark: 18px 17px $sprite-path -54px 0px;
$arrow-right-dark: 9px 15px $sprite-path -42px 0px;
$cam-dark: 21px 16px $sprite-path -17px 0px;
$reload-dark: 15px 15px $sprite-path 0px 0px;