.i-share, .i-rarrow, .i-cam, .i-load { height: 15px; background: url($sprite); }

.i-share { background-position: -52px 0px; width: 16px; }
.i-rarrow { background-position: -40px 0px; width: 9px; }
.i-cam { background-position: -18px 0px; width: 19px; }
.i-load { background-position: 0px 0px; width: 15px; }