.i-close, .i-menu, .i-share, .i-rarrow, .i-cam, .i-load, .i-email, .i-twitter, .i-facebook { background: url($sprite); }

.i-rarrow, .i-cam, .i-load { height: 15px; }

.i-close, .i-share { width: 16px; height: 15px; }

.i-close { background-position: -95px 0px; }
.i-menu { background-position: -70px 0px; width: 23px; height: 16px; }
.i-share { background-position: -52px 0px; }
.i-rarrow { background-position: -40px 0px; width: 9px; }
.i-cam { background-position: -18px 0px; width: 21px; }
.i-load { background-position: 0px 0px; width: 16px; }
.i-email { background-position: -135px 0px; width: 23px; height: 17px; }
.i-twitter { background-position: -109px 0px; height: 17px; width: 24px; }
.i-facebook { background-position: -159px 0px; width: 12px; height: 20px; }