h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 18px 0;
}

// FONT SIZES
.tera    { font-size: $tera; }
.giga    { font-size: $giga; }
.mega    { font-size: $mega; }
.alpha   { font-size: $alpha; }
.beta    { font-size: $beta; }
.gamma   { font-size: $gamma; }
.delta   { font-size: $delta; }
.epsilon { font-size: $epsilon; }
.zeta    { font-size: $zeta; }

// HEADINGS
h1, .h1 {
  font-size: $tera;
  font-family: $sans;
  font-weight: $sans-bold;
  margin-bottom: 0;
  line-height: 1;

  @media screen and ( max-width: $small ) {
    font-size: $giga;
  }
}

h2, .h2 {
  font-size: $giga;
  font-family: $sans;
  font-weight: $sans-bold;
  color: $primary;
  letter-spacing: -1px;
  line-height: 1;

  @media screen and ( max-width: $small ) {
    font-size: $mega;
  }
}

h3, .h3 {
  font-size: $beta;
  font-weight: $serif-regular;
  line-height: 1.2;
}

h4, .h4 {
  font-size: $gamma;
}

h5, .h5 {
  font-size: $epsilon;
  font-family: $sans;
  font-weight: $sans-regular;
  color: $primary;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

h6, .h6 {
  font-size: $delta - 1px;
  font-family: $sans;
  font-weight: $sans-regular;
  color: lighten($light-ink, 20);
}

strong {
  font-weight: $serif-bold;
}

// Blockquote
blockquote, 
blockquote p, 
.post-main .post blockquote p {
  color: $primary;
  font-size: $beta;
  position: relative;
  margin: 0;
}

blockquote {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 60px 35px 0;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 150px;
    background-color: rgba($primary, 0.1);
    display: block;
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}