h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 18px 0;
}

// FONT SIZES
.tera    { font-size: $tera; }
.giga    { font-size: $giga; }
.mega    { font-size: $mega; }
.alpha   { font-size: $alpha; }
.beta    { font-size: $beta; }
.gamma   { font-size: $gamma; }
.delta   { font-size: $delta; }
.epsilon { font-size: $epsilon; }
.zeta    { font-size: $zeta; }

// HEADINGS
h1, .h1 {
  font-size: $tera;
  font-family: $sans;
  font-weight: $sans-bold;
  margin-bottom: 0;
  line-height: 1;

  @media screen and ( max-width: $small ) {
    font-size: $giga;
  }
}

h2, .h2 {
  font-size: $giga;
  font-family: $sans;
  font-weight: $sans-bold;
  color: $primary;
  letter-spacing: -1px;
  line-height: 1;

  @media screen and ( max-width: $small ) {
    font-size: $mega - 4px;
  }
}

h3, .h3 {
  font-size: $beta;
  font-weight: $serif-regular;
  line-height: 1.15;
}

h4, .h4 {
  font-size: $gamma;
}

h5, .h5 {
  font-size: $epsilon;
  font-family: $sans;
  font-weight: $sans-regular;
  color: $primary;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

h6, .h6 {
  font-size: $delta - 1px;
  font-family: $sans;
  font-weight: $sans-regular;
  color: lighten($light-ink, 20);
}

ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;

  li {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  ul, ul ul {
    margin-bottom: 0;
  }
}

blockquote,
blockquote p,
.post-main .post blockquote p {
  color: $primary;
  font-size: $beta;
  position: relative;
  margin: 0;
  line-height: 1.3;
}

blockquote {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 35px 35px 0;

  @media screen and ( max-width: $small ) {
    padding-right: 0;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 150px;
    background-color: rgba($primary, 0.1);
    display: block;
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

figure {
  margin: 30px 0;

  img {
    margin-bottom: 8px;
    width: 100%;
  }

  @media screen and ( min-width: $small + 200px ) {
    &.left-offset {
      max-width: calc(65% - 30px);
      padding-right: 20px;
      float: left;
      margin: 20px 0 20px -25%;
    }

    &.right,
    &.left {
      width: 50%;
      margin: 10px 0;
    }

    &.right {
      float: right;
      padding-left: 20px;
    }

    &.left {
      float: left;
      padding-right: 20px;
    }
  }
}

figcaption,
figcaption[class*="col-"] {
  color: lighten($light-ink, 35);
  font-size: $epsilon;
  font-family: $sans;
  line-height: 1.35;
  padding: 0;
  position: relative;

  @media screen and ( max-width: $medium ) {
    margin-left: 5px;
  }

  &:after {
    @include icon-pseudo;
    opacity: 0.15;
    top: 2px;
    left: -2px;
  }

  img + &,
  .post-head &,
  .news & {
    padding-left: 25px;

    &:after {
      @include sprite($cam-dark);
    }
  }

  .post-head &,
  .news & {
    padding-left: 35px;
  }

  .comment & {
    padding-left: 25px;
  }

  video + & {
    padding-left: 25px;

    &:after {
      @include sprite($video-dark);
    }
  }
}
