// COLOURS
$ink: #39333F;
$light-ink: #67626B;
$red: #E30613;
$slate: #EAEAEA;
$primary: $red;

// TYPOGRAPHY
$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 26px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px; 
$body-size: $delta;

$serif: 'ff-meta-serif-web-pro', georgia, serif;
$serif-regular: 500;
$serif-bold: 700;
$sans: 'ff-dagny-web-pro', helvetica, sans-serif; 
$sans-regular: 400;
$sans-bold: 700;

// SPACING: Grid, Viewports etc
$large: 1000px;
$medium: 800px;
$small: 570px;

$gutter: 10px;