// COLOURS
$ink: #39333F;
$light-ink: #67626B;
$red: #E30613;
$slate: #EAEAEA;
$primary: $red;

// TYPOGRAPHY
$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 26px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px; 
$body-size: $delta;

$serif: 'meta', georgia, serif;
$sans: 'dagny', helvetica, sans-serif; 
$regular: 400;
$bold: 600;
$black: 900;

// SPACING: Grid, Viewports etc
$large: 1000px;
$medium: 650px;
$small: 500px;

$gutter: 10px;

// Sprite
$sprite: '../images/sprite.svg';