.casestudy {
  .title {
    display: none;
  }

  .post-head,
  .casestudy-next {
    padding: 70px 10px;
    text-align: center;
    background-color: $primary;

    @media screen and ( max-width: $medium ) {
      padding: 45px 10px 15px;
      text-align: left;
    }

    h2 {
      line-height: 1.1;
    }

    h3 {

      font-family: $sans;
      font-weight: $sans-regular;
      color: darken($primary, 20);
    }

    h5 {
      margin: 10px auto 70px;
      color: white;
      max-width: 500px;
      border-bottom: 5px solid rgba(white, 0.2);
      padding: 0 50px 20px;
      display: table;
      letter-spacing: 5px;

      @media screen and ( max-width: $medium ) {
        margin-bottom: 30px;
        text-align: left;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  .post-hero {
    position: relative;

    &:before,
    &:after {
      @include icon-pseudo;
      width: 100%;
      height: 5px;
      background: linear-gradient(rgba(black, 0.1), transparent);
      top: 0;
    }

    &:after {
      top: auto;
      bottom: 0;
      background: linear-gradient(transparent, rgba(black, 0.1));
    }
  }

  .post-main {
    padding-top: 20px;
    margin-bottom: 0;

    .post {
      margin: 0 auto;
      max-width: 700px;
      padding: $gutter * 2 $gutter;

      @media screen and ( max-width: $medium ) {
        padding: $gutter;
      }

      p, li {
        font-size: $delta + 2px;
      }

      blockquote {
        display: block;
        margin: 40px;
        float: none;
        padding: 40px 0;
        max-width: 100%;

        p {
          font-size: $beta;
        }
      }
    }
  }

  .post-summary {
    background-color: $slate;
    background-color: white;
    border-bottom: none;
    padding: 30px $gutter;
    display: block;

    .summary * {
      font-family: $sans;
    }

    @media screen and ( max-width: $medium ) {
      padding: 20px $gutter;
    }

    .grid {
      max-width: 700px;
    }
  }

  .summary p {
    font-size: $beta + 4px;
    font-family: $sans;
    font-weight: $sans-regular;
    color: $primary;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and ( max-width: $medium ) {
      font-size: $beta - 4px;
    }
  }

  .post-actions {
    padding-top: 10px;

    @media screen and ( min-width: $medium ) {
      padding-top: 35px;
      display: table;
      margin: 0 auto;
    }
  }

  .casestudy-next {
    background-color: $slate;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;

    @media screen and ( max-width: $medium ) {
      padding: 25px 10px 20px;
    }

    h2 {
      display: block;
      color: $ink;
      font-size: $mega;

      @media screen and ( max-width: $small ) {
        font-size: $mega - 8px;
      }
    }

    h3 {
      color: $light-ink;
      font-size: $beta;
    }

    h5 {
      color: $primary;
      border-bottom-color: rgba($light-ink, 0.1);
      margin-bottom: 30px;
    }

    &:hover {
      h2 {
        color: $primary;
      }

      h3 {
        color: $ink;
      }
    }
  }
}

.skills-table-wrap {
  padding-top: 70px;
  border-top: 1px solid darken($slate, 3);
  display: block;
  margin: 70px auto 30px;
  text-align: center;

  @media screen and ( max-width: $medium ) {
    padding-top: 35px;
    margin: 30px 0 20px;
    text-align: left;
  }
}

.skills-table {
  li {
    margin: 4px auto 0;
    padding: 10px 30px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid darken($slate, 3);
    font-size: $epsilon !important;
    font-family: $sans;

    @media screen and ( max-width: $medium ) {
      margin: 5px 0 0;
      padding: 7px 15px;
    }

    &:first-child {
      border-top-width: 1px;
    }
  }
}
