.error {
   background-color: $primary;
   color: white;

   .title {
    display: none;
   }

   .gbl-foot {
    background-color: transparent;
    color: rgba(white, 0.5);

    a {
      color: rgba(white, 0.5);

      &:hover {
        color: white;
      }
    }

    .copyright {
      padding-bottom: 20px;
    }
   }
}

.error-main {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  min-height: calc(100vh - 280px);

  @media screen and ( max-width: $medium ) {
    min-height: calc(100vh - 220px);
  }

  * {
    color: white;
  }
}