.home {
  .featured {
    padding-bottom: 0;

    .col-2-3 {
      .post-img {
        height: 280px;

        @media screen and ( max-width: $medium ) {
          height: 170px;
        }
      }
    }
  }
  
  h2 {
    margin-bottom: -40px;
    margin-left: $gutter - 3px;
  }
}