.home {
  .featured {
    padding-top: 0;
    padding-bottom: 0;

    .grid {
      padding: 0;
    }

    .col-2-3 {
      .post-img {
        height: 280px;

        @media screen and ( max-width: $medium ) {
          height: 170px;
        }
      }
    }

    .post {
      padding: 40px 20px 30px;
    }
  }
}