.journal-stream {
  padding-top: 20px;
  
  .post.casestudy {
    display: none;
  }

  .col-3-4 {
    float: right;

    .post:first-child {
      padding-top: 0;

      &:before {
        display: none;
      }
    }
  }
}