.journal-stream {
  padding-top: 40px;

  @media screen and ( max-width: $small ) {
    padding-top: 30px;
  }

  .col-3-4 {
    @media screen and ( min-width: $small ) {
      float: right;
    }

    .post:first-of-type {
      padding-top: 0;

      &:before {
        display: none;
      }
    }

    .post:last-of-type {
      padding-bottom: 0;
    }
  }

  h3 {
    font-size: $beta + 6px;

    @media screen and ( max-width: $small ) {
      font-size: $beta + 2px;
    }
  }

  p {
    font-size: $delta + 2px;
    margin-bottom: 10px;
  }
}