.featured {
  background-color: $slate;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  display: block;

  * {
    transition: 0.2s;
  }

  @media screen and ( max-width: $medium ) {
    [class*="col-"] {
      width: 100%;
    }
  }
  
  h2 {
    display: table;
    position: relative;
    z-index: 1;
  }

  h5 {
    line-height: 1.4;

    strong {
      display: block;
      font-family: $sans;
      font-weight: $sans-bold;
    }
  }
}
  

a.featured:hover {
  background-color: darken($slate, 4);

  h3 {
    color: $primary;
  }

  p:not(.excerpt-lrg) {
    color: $ink;
  }
}

.excerpt-lrg {
  color: $primary;
  font-size: $beta;
  font-family: $sans;
  font-weight: $sans-regular;
}

.post {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
  display: block;

  * {
    transition: 0.2s;
  }

  @media screen and ( max-width: $small ) {
    padding-bottom: 20px;
  }

  .home &:before,
  .journal &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: darken($slate, 3);
    height: 1px;
    width: 100%;
  }

  .home .featured &:before,
  .journal .featured &:before {
    display: none;
  }

  .home .featured &.col-1-3:before {
    @media screen and ( max-width: $medium ) {
      background-color: darken($slate, 7);
      display: block;
      width: calc(100% - 20px);
      left: 10px;
    }
  }


  img, {
    margin-bottom: 15px;
  }

  .post-img {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-size: 1px;
  }

  h3 {
    margin-bottom: 10px;
  }

  h6 {
    font-family: $sans;
    font-weight: $sans-regular;
    color: lighten($light-ink, 20);
    margin-top: 5px;
  }

  &.col-2-3 h3 {
    font-size: $beta + 6px;

    @media screen and ( max-width: $small ) {
      font-size: $beta + 2px;
    }
  }

  p {
    color: rgba($ink, 0.8);
  }

  &.col-2-3 p {
    font-size: $delta + 2px;
  }

  .home &:hover,
  .journal &:hover {
    img {
      opacity: 0.9;
    }

    h3 {
      color: $primary;
    }

    p {
      color: $ink;
    }
  }
}

// Sidebar
.sidebar {
  color: $light-ink;

  @media screen and ( min-width: $small ) {
    padding-right: $gutter * 2;
  }
}

.sidebar-item {
  border-top: 1px solid darken($slate, 3);
  padding-top: 15px;
  padding-bottom: 30px;
  display: block;

  @media screen and ( max-width: $small ) {
    .journal & {
      padding-bottom: 0;
    }
  }

  &:first-child {
    padding-top: 5px;
    border-top: none;
  }

  h5 {
    margin-bottom: 12px;

    @media screen and ( max-width: $small ) {
      margin-bottom: 0;
    }
  }
}

// Next Post
.post-next {
  margin: 30px 0 0;
  padding-top: 0;

  h2 {
    top: -35px;
    margin-left: 7px;
    margin-bottom: -10px;

    @media screen and ( max-width: $small ) {
      top: -30px;
    }
  }

  h3 {
    font-size: $beta + 6px;

    @media screen and ( max-width: $small ) {
      font-size: $beta + 2px;
    }
  }

  p {
    font-size: $delta + 2px;
    color: $light-ink;
  }

  @media screen and ( max-width: $medium ) {
    [class*="col-"] {
      width: auto;
    }
    
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}