.featured {
  background-color: $slate;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  display: block;

  &:hover {
    background-color: darken($slate, 4);
  }

  h2 {
    display: table;
    position: relative;
    z-index: 1;
  }

  h5 {
    line-height: 1.4;

    strong {
      display: block;
      font-family: $sans;
      font-weight: $sans-bold;
    }
  }
}

.excerpt-lrg {
  color: $primary;
  font-size: $beta;
  font-family: $sans;
  font-weight: $sans-regular;
}

.post {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
  display: block;

  @media screen and ( max-width: $small ) {
    padding-bottom: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: darken($slate, 3);
    height: 1px;
    width: 100%;

    .featured & {
      display: none;
    }
  }

  img, {
    margin-bottom: 15px;
  }

  .post-img {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-size: 1px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .client {
    color: lighten($light-ink, 20);
    margin-top: 5px;
  }

  &.col-2-3 h3 {
    font-size: $beta + 6px;
  }

  p {
    color: rgba($ink, 0.8);
  }

  &.col-2-3 p {
    font-size: $delta + 2px;
  }

  &:hover {
    img {
      opacity: 0.9;
    }

    h3 {
      color: $primary;
    }

    p {
      color: $ink;
    }
  }
}

// Sidebar
.sidebar-list {
  border-top: 1px solid darken($slate, 3);
  padding-top: 15px;
  padding-bottom: 40px;

  @media screen and ( max-width: $small ) {
    border-top: none;
    padding-top: 0;
    padding-bottom: 10px;
  }

  h5 {
    margin-bottom: 12px;

    @media screen and ( max-width: $small ) {
      margin-bottom: 0;
    }
  }
}