.featured {
  background-color: $slate;
  padding-top: 40px;
  margin-bottom: 20px;

  h2 {
    display: table;
    position: relative;
    margin-bottom: -40px;
    margin-left: $gutter - 3px;
    z-index: 1;
  }
}

.post {
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  display: block;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    background-color: darken($slate, 3);
    height: 1px;
    width: calc(100% - 20px);

    .featured & {
      display: none;
    }
  }

  img {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: 10px;
  }

  &.col-2-3 h3 {
    font-size: $beta + 6px;
  }

  p {
    color: rgba($ink, 0.8);
  }

  &.col-2-3 p {
    font-size: $delta + 2px;
  }

  &:hover {
    img {
      opacity: 0.9;
    }

    h3 {
      color: $primary;
    }

    p {
      color: $ink;
    }
  }
}