.featured {
  background-color: $slate;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  display: block;

  * {
    transition: 0.2s;
  }

  @media screen and ( max-width: $medium ) {
    [class*="col-"] {
      width: 100%;
    }

    .meta {
      margin-bottom: 20px;
    }
  }
  
  h2 {
    display: table;
    position: relative;
    z-index: 1;
  }

  h5 {
    line-height: 1.4;

    strong {
      display: block;
      font-family: $sans;
      font-weight: $sans-bold;
    }
  }

  .btn-more {
    display: table;
    transform: scale(0.95);
    opacity: 0;
  }
}
  
a.featured:hover {
  background-color: darken($slate, 4);

  h3 {
    color: $primary;
  }

  p:not(.excerpt-lrg) {
    color: $ink;
  }

  .btn-more {
    opacity: 0.3;
    transform: scale(1);
    display: table;

    &:hover {
      opacity: 1;
    }
  }
}

.excerpt-lrg {
  color: $primary;
  font-size: $beta;
  font-family: $sans;
  font-weight: $sans-regular;

  @media screen and ( max-width: $medium ) {
    font-size: $gamma;
  }
}

.post {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;

  * {
    transition: 0.2s;
  }

  @media screen and ( max-width: $small ) {
    padding-bottom: 20px;
  }

  .home &,
  .journal & {
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: darken($slate, 3);
      height: 1px;
      width: 100%;
    }

    .btn-more {
      transform: scale(0.95);
      opacity: 0;
    }

    &:hover {
      img,
      .post-img {
        opacity: 0.85;
      }

      h3 {
        color: $primary;
      }

      p {
        color: $ink;
      }

      .btn-more {
        opacity: 0.3;
        transform: scale(1);

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .home .featured &,
  .journal .featured & {
    padding-bottom: 20px;

    &:before {
      display: none;
    }
  }

  .home .featured &.col-1-3:before {
    @media screen and ( max-width: $medium ) {
      background-color: darken($slate, 7);
      display: block;
      width: calc(100% - 20px);
      left: 10px;
    }
  }

  .meta {
    span {
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: 15px;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  img, {
    margin-bottom: 15px;
  }

  .post-img {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-size: 1px;
    transition: 0.2s;
  }

  img.post-img {
    height: auto;
  }

  h3 {
    margin-bottom: 10px;
  }

  .client {
    font-family: $sans;
    font-weight: $sans-regular;
    font-size: $epsilon;
    color: lighten($light-ink, 20);
    margin-top: 5px;
    margin-bottom: 15px;
  }

  p {
    color: $light-ink;
    margin-bottom: 15px;
  }

  .client {
    display: table;
  }
}

.sidebar {
  color: $light-ink;

  @media screen and ( min-width: $small ) {
    padding-right: $gutter;
  }
}

.sidebar-item {
  border-top: 1px solid darken($slate, 3);
  padding-top: 15px;
  padding-bottom: 30px;
  display: block;

  @media screen and ( max-width: $small ) {
    .journal & {
      padding-bottom: 0;
    }
  }

  &:first-child {
    padding-top: 5px;
    border-top: none;
  }

  h5 {
    margin-bottom: 12px;

    @media screen and ( max-width: $small ) {
      margin-bottom: 0;
    }
  }
}

.post-next {
  margin: 30px 0 0;
  padding-top: 0;

  h2 {
    top: -35px;
    margin-left: 7px;
    margin-bottom: -10px;

    @media screen and ( max-width: $small ) {
      top: -30px;
    }
  }

  h3 {
    font-size: $beta + 6px;

    @media screen and ( max-width: $small ) {
      font-size: $beta + 2px;
    }
  }

  p {
    font-size: $delta + 2px;
    color: $light-ink;
  }

  @media screen and ( max-width: $medium ) {
    [class*="col-"] {
      width: auto;
    }
    
    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.bio-short, 
.longread .post-meta {
  position: relative;
  border-top: 1px solid darken($slate, 3);
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 15px;

  h5 {
    margin-bottom: 10px;
  }
}

.bio-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 0;
  display: block;
  background-position: center;
  background-size: cover;

  @media screen and ( max-width: $small ) {
    top: 0;
    margin: 20px 0 10px;
    position: relative;
  }
}

.bio-name {
  padding-top: 10px;
  padding-left: 100px;
  margin-bottom: 5px;

  @media screen and ( max-width: $small ) {
    padding-left: 0;
  }
}

.bio-excerpt {
  padding-left: 100px;
  color: lighten($light-ink, 10);

  @media screen and ( max-width: $small ) {
    padding-left: 0;
  }
}