.work {
  h3 {
    font-size: $beta - 6px;
    color: darken($slate, 20);
    line-height: 1;

    @media screen and ( max-width: $small ) {
      font-size: $gamma
    }

    strong {
      font-size: $alpha;
      display: block;
      color: $ink;
      font-weight: $serif-regular;
      margin-bottom: 5px;

      @media screen and ( max-width: $small ) {
        font-size: $beta;
      }
    }
  }

  h5 {
    margin-bottom: 30px;
  }

  .featured {
    padding-bottom: 60px;
    margin-bottom: 0;

    h2 {
      margin-bottom: 15px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: $alpha;
    }

    h5 {
      margin-bottom: 30px;
    }
  }
}

.work-stream {
  padding-top: 30px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: darken($slate, 3);
    height: 1px;
    width: calc(100% - 40px);
    left: 20px;
  }

  &:first-of-type {
    &:before {
      display: none;
    }
  }

  .post {
    padding: 0 0 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid darken($slate, 3);

    &:before {
      display: none;
    }

    &:last-child {
      margin-bottom: 60px;
      border-bottom: none;
    }

    &:hover {
      h3 {
        color: rgba($primary, 0.3);

        strong {
          color: $primary;
        }
      }
    }
  }
}