.post-head {
  background-color: darken($primary, 4);
  padding-top: 35px;
  padding-bottom: 35px;

  @media screen and ( max-width: $medium ) {
    padding-bottom: 15px;

    [class*="col-"] {
      width: 100%;
    }
    
    h5 {
      margin-bottom: 30px;
    }
  }

  h2 {
    line-height: 1.1;

    @media screen and ( max-width: $medium ) {
      line-height: 1;
      font-size: $mega - 4px;
    }
  }

  h2, 
  h5 {
    color: white;
  }

  figcaption {
    margin-top: 5px;
    margin-bottom: 5px;
    color: lighten($light-ink, 30);

    &:after {
      left: 8px;
    }
  }
}

.post-hero {
  margin: 0;
  width: 100%;
  position: relative;

  &:before,
  &:after {
    @include icon-pseudo;
    width: 100%;
    height: 5px;
    background: linear-gradient(rgba(black, 0.1), transparent);
    top: 0;
  }

  &:after {
    top: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(black, 0.1));
  }
}

.post-hero-img {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  @media screen and ( max-width: $small ) {
    height: 300px;
  }
}

.post-main {
  margin-top: 30px;
  margin-bottom: 60px;

  @media screen and ( max-width: $small ) {
    margin-bottom: 30px;
  }

  .post {
    padding-top: 0;

    h3 {
      font-size: $beta + 2px;
      font-family: $sans;
      font-weight: $sans-regular;
      color: $primary;
      line-height: 1.2;
      margin-top: 35px;
      margin-bottom: 15px;

      &:first-of-type {
        line-height: 1.3;
        margin-top: 0;
        margin-bottom: 25px;
      }

      a {
        color: $primary;
        border-bottom: 3px solid rgba($primary, 0.1);

        &:hover {
          border-bottom-color: rgba($primary, 0.3); 
        }
      }

      @media screen and ( max-width: $medium ) {
        font-size: $beta;
      }
    }

    h4 {
      font-size: $gamma + 2px;
      margin: 40px 0 20px;
      font-weight: $sans-bold;
      font-family: $sans;
      line-height: 1.2;

      &:first-child {
        margin-top: 0;
      }
    }

    p, li {
      font-size: $delta + 2px;
      line-height: 1.45;
    }

    figure,
    iframe {
      margin: 30px 0;
    }

    @media screen and ( min-width: $medium ) {
      blockquote,
      figure.left {
        max-width: calc(75% - 30px);
        float: left;
        margin: 20px 30px 20px -25%;
      }
    }
  }
}

.post-aside {
  @media screen and ( min-width: $medium ) {
    .post-actions {
      padding: 10px 0 30px;
    }
  }
}

.post-actions {
  @include clearfix;
  padding: 40px 0;

  a:hover {
    border-bottom-color: $ink;
  }

  @media screen and ( max-width: $medium ) {
    padding: 0 0 20px;

    .news & {
      padding: 25px 0 50px;
      margin-bottom: 0;
      border-bottom: 1px solid darken($slate, 3);
    }
  }

  .share {
    float: left;

    @media screen and ( max-width: $small ) {
      height: 41px;
    }
  }

  .btn-next {
    float: right;

    @media screen and ( max-width: $small ) {
      display: none;
    }
  }
}

.comments {
  margin-top: 50px;
  margin-bottom: 40px;
}