.comment {
  .post {
    float: right;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 15px;

      .post-actions {
        padding: 20px 0 30px;
      }
    }
  }

  .post-title {
    display: block;
    margin: 60px 0;
    position: relative;
    border-bottom: none;

    @media screen and ( max-width: $medium ) {
      margin: 30px 0 35px;
    }

    h2 {
      display: inline;
      font-size: $giga + 6px;
      line-height: 1.2;
      border-bottom: 5px solid rgba($primary, 0.1);

      @media screen and ( max-width: $medium ) {
        font-size: $mega + 6px;
        line-height: 1.1;
      }

      @media screen and ( max-width: $small ) {
        font-size: $mega;
      }
    }

    &:before {
      @include icon-pseudo;
    }

    &:before {
      @include sprite($link-red-lrg);
      top: 12px;
      left: -130px;
      width: 100px;
      height: 100px;
      opacity: 0.2;
      transition: 0.2s;
    }

    &:hover {
      h2 {
        border-bottom-color: rgba($primary, 0.2);
      }

      &:before {
        opacity: 0.3;
      }
    }
  }

  .comments {
    margin-top: 0;

    @media screen and ( max-width: $medium ) {
      margin-bottom: 20px;
    }
  }

  .post-actions {
    margin-bottom: 30px;
  }

  .sidebar-item {
    border-top: 1px solid darken($slate, 3);

    &.col-1-2 {
      padding: 15px 0 50px;

      @media screen and ( min-width: $medium ) {
        &:first-child {
          margin-right: 20px;
          width: calc(50% - 20px);
        }
      }

      @media screen and ( max-width: $medium ) {
        padding-bottom: 30px;
      }
    }
  }

  .post-meta {
    @include clearfix;
    padding-bottom: 0;
  }

  .tag-list li {
    display: inline-block;
  }
}