.comment {
  .post {
    float: right;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 15px;
    }

    p, li {
      font-size: $delta + 4px;
      line-height: 1.5;
    }
  }

  .post-title {
    display: block;
    margin: 60px 0;
    padding-bottom: 70px;
    position: relative;

    h2 {
      display: inline;
      font-size: $giga + 6px;
      line-height: 1.1;
    }

    &:before,
    &:after {
      @include icon-pseudo;
    }

    &:before {
      top: 8px;
      left: -140px;
      width: 100px;
      height: 100px;
      background-color: red;
    }
 
    &:after {
      bottom: 0;
      left: 0;
      height: 7px;
      width: 150px;
      background-color: rgba($primary, 0.1);
      display: block;
    }
  }

  .comments {
    margin-top: 0;

    @media screen and ( max-width: $medium ) {
      margin-bottom: 20px;
    }
  }
}