.longread {

  .gbl-head {
    background-color: rgba($primary, 0.85);
    position: absolute;
    width: 100%;
  }

  .post-head {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 500px;
    padding-bottom: 10px;
  }
}