.longread {
  .gbl-head {
    background-color: rgba($primary, 0.85);
    position: absolute;
    width: 100%;
  }

  .post-head {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 450px;
    padding-bottom: 0;
    position: relative;
    z-index: -1;

    @media screen and ( max-width: $medium ) {
      padding-top: 250px;
    }

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 25%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
      filter: none\9;

      @media screen and ( max-width: $medium ) {
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 25%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.8) 100%);
      }
    }

    * {
      position: relative;
      z-index: 2;
    }

    h2 {
      padding-bottom: 20px;

      @media screen and ( max-width: $medium ) {
        @include clearfix;
        padding-top: 20px;
        margin-bottom: 10px;
        line-height: 1.15;
      }
    }

    h5 {
      padding-top: 10px;

      @media screen and ( max-width: $medium ) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(white, 0.2);
      }
    }

    .col-1-4 {
      padding-right: 20px;

      @media screen and ( max-width: $medium ) {
        padding-right: $gutter;
      }
    }

    .sidebar-item {
      border-top-color: rgba(white, 0.2);
      color: rgba(white, 0.6);
      padding-bottom: 0;
      line-height: 1;

      &:first-of-type {
        margin-top: 20px;
        padding-top: 20px;

        @media screen and ( max-width: $medium ) {
          margin-top: 0;
          padding-top: 0;
        }
      }

      @media screen and ( max-width: $medium ) {
        padding-right: 20px;
        padding-bottom: 5px;
        border-top: none;
        float: left;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .post-subhead {
    @include clearfix;
    background-color: rgba($slate, 0.95);
    color: $primary;
    padding-top: 5px;
    padding-bottom: 20px;

    h3 {
      font-size: $beta + 4px;
      font-family: $sans;
      font-weight: $sans-regular;
      color: $primary;
      line-height: 1.3;
      margin-top: 25px;

      @media screen and ( max-width: $medium ) {
        font-size: $beta;
      }
    }
  }

  .post-meta {
    border-top: 1px solid darken($slate, 3);
    margin: 30px 0 0;
    padding: 15px 0 0;

    h5 {
      margin-bottom: 10px;
    }
  }

  .cat-list,
  .tag-list {
    li {
      display: inline-block;
    }
  }
}