.news {
  .post {
    float: right;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 15px;
    }
  }

  .comments {
    margin-top: 0;

    @media screen and ( max-width: $medium ) {
      margin-bottom: 20px;
    }
  }

  .post-hero-img {
    margin-bottom: 10px;
    display: block;
  }
}