.news {
  .post {
    float: right;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 15px;
    }
  }

  @media screen and ( max-width: $medium ) {
    .comments {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}