.post-head {
  background-color: darken($primary, 4);
  padding-top: 35px;
  padding-bottom: 35px;

  @media screen and ( max-width: $medium ) {
    padding-bottom: 15px;

    [class*="col-"] {
      width: 100%;
    }
    
    h5 {
      margin-bottom: 30px;
    }
  }

  h2 {
    line-height: 1.15;
  }

  h2, h5 {
    color: white;
  }
}

.post-hero {
  margin: 0;
  width: 100%;
  
  figcaption {
    margin-left: 25%;
    position: relative;
    padding-left: 32px;

    &:after {
      @include icon-pseudo;
      @extend .i-cam;
      left: 5px;
      top: 11px;
      opacity: 0.15;
    }

    @media screen and ( max-width: $small ) {
      margin-left: 0;
    }
  } 
}

.post-hero-img {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .touch-device & {
    background-attachment: scroll;
  }

  @media screen and ( max-width: $small ) {
    height: 300px;
  }
}

.post-main {
  margin-top: 30px;
  margin-bottom: 60px;

  @media screen and ( max-width: $small ) {
    margin-bottom: 30px;
  }

  .post {
    padding-top: 0;
  }

  h3 {
    font-size: $beta + 4px;
    font-family: $sans;
    font-weight: $sans-regular;
    color: $primary;
    line-height: 1.3;
    margin-bottom: 25px;

    @media screen and ( max-width: $medium ) {
      font-size: $beta;
    }
  }

  h4 {
    font-size: $gamma + 2px;
    margin: 40px 0 20px;
    font-weight: $sans-bold;
    font-family: $sans;
    line-height: 1.1;
  }

  p, li {
    font-size: $delta + 2px;
  }
}

.post-actions {
  padding: 40px 0;

  @media screen and ( max-width: $small ) {
    padding: 20px 0 80px;
    border-bottom: 1px solid darken($slate, 3);
  }

  .post-share {
    float: left;
  }

  .btn-next {
    float: right;
  }
}

.post-share {
  position: relative;

  .btn-share {
    opacity: 0.7;
    display: none;
  }

  @media screen and ( min-width: $small ) {
    .btn-share {
      display: block;
    }

    &:not(.active) {
      .btn-share {
        opacity: 0.3;

        &:hover {
          opacity: 0.7;
        }
      }

      .btn-email,
      .btn-twitter {
        opacity: 0;
      }

      .btn-email {
        left: 50px;
      }

      .btn-twitter {
        left: 100px;
      }
    }
  }
}