.post-head {
  background-color: darken($primary, 4);
  padding-top: 35px;
  padding-bottom: 35px;

  @media screen and ( max-width: $medium ) {
    padding-bottom: 15px;

    [class*="col-"] {
      width: 100%;
    }
    
    h5 {
      margin-bottom: 30px;
    }
  }

  h2 {
    line-height: 1.15;
  }

  h2, h5 {
    color: white;
  }
}

.post-hero {
  margin: 0;
  width: 100%;
  
  figcaption {
    position: relative;
    padding-left: 32px;

    &:after {
      @include icon-pseudo;
      @extend .i-cam;
      left: 5px;
      top: 11px;
      opacity: 0.15;
    }
  } 
}

.post-hero-img {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .touch-device & {
    background-attachment: scroll;
  }

  @media screen and ( max-width: $small ) {
    height: 300px;
  }
}

.post-main {
  margin-top: 30px;
  margin-bottom: 60px;

  @media screen and ( max-width: $small ) {
    margin-bottom: 30px;
  }

  .post {
    padding-top: 0;

    h3 {
      font-size: $beta + 4px;
      font-family: $sans;
      font-weight: $sans-regular;
      color: $primary;
      line-height: 1.3;
      margin-bottom: 25px;

      @media screen and ( max-width: $medium ) {
        font-size: $beta;
      }
    }

    h4 {
      font-size: $gamma + 2px;
      margin: 40px 0 20px;
      font-weight: $sans-bold;
      font-family: $sans;
      line-height: 1.1;
    }

    p, li {
      font-size: $delta + 2px;
    }

    figure {
      margin: 30px 0;

      figcaption {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;

        &:after {
          @include icon-pseudo;
          top: 0;
          left: 0;
        }
      }

      img + figcaption:after {
        @extend .i-cam;
        opacity: 0.15;
      }
    }

    @media screen and ( min-width: $medium ) {
      blockquote {
        margin-left: -25%;
        max-width: 500px;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

.post-aside {
  @media screen and ( min-width: $medium ) {
    .post-actions {
      padding: 10px 0 30px;
    }
  }
}

.post-actions {
  @include clearfix;
  padding: 40px 0;

  @media screen and ( max-width: $medium ) {
    padding: 0 0 20px;

    .news & {
      padding: 25px 0 50px;
      margin-bottom: 0;
      border-bottom: 1px solid darken($slate, 3);
    }
  }

  .share {
    float: left;
  }

  .btn-next {
    float: right;
  }
}

.comments {
  margin-top: 50px;
  margin-bottom: 40px;

  .news & {
    margin-top: 0;
  }
}