html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.i-close, .gbl-head .show-menu:checked, .i-menu, .gbl-head .show-menu, .i-share, .i-rarrow, .i-cam, .i-load, .btn-line:after {
  background: url('../images/sprite.svg'); }

.i-rarrow, .i-cam, .i-load, .btn-line:after {
  height: 15px; }

.i-close, .gbl-head .show-menu:checked, .i-share {
  width: 16px;
  height: 15px; }

.i-close, .gbl-head .show-menu:checked {
  background-position: -95px 0px; }

.i-menu, .gbl-head .show-menu {
  background-position: -70px 0px;
  width: 23px;
  height: 16px; }

.i-share {
  background-position: -52px 0px; }

.i-rarrow {
  background-position: -40px 0px;
  width: 9px; }

.i-cam {
  background-position: -18px 0px;
  width: 19px; }

.i-load, .btn-line:after {
  background-position: 0px 0px;
  width: 16px; }

.fadein {
  -webkit-animation: fadein 1s;
  animation: fadein 1s; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fadeout {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s; }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.pulse {
  -webkit-animation: pulse 0.6s infinite alternate;
  animation: pulse 0.6s infinite alternate; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }

  to {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); } }

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }

  to {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); } }

*, *::before, *:after {
  box-sizing: border-box;
  font-family: 'ff-meta-serif-web-pro', georgia, serif;
  font-weight: 500;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  background-color: #f7f7f7;
  font-size: 16px;
  line-height: 1.4;
  color: #39333F; }

.grid {
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

.padded {
  padding: 10px; }

[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-left: 10px; }

.col-1-1 {
  width: 100%; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

@media screen and (max-width: 570px) {
  .grid {
    padding-right: 5px;
    padding-left: 5px; }
  [class*='col-'] {
    width: 100%;
    float: none; }
  .mobile-col-2-3, .mobile-col-1-3, .mobile-col-1-2, .mobile-col-1-4, .mobile-col-1-8 {
    float: left; }
  .mobile-col-2-3 {
    width: 66.66%; }
  .mobile-col-1-3 {
    width: 33.33%; }
  .mobile-col-1-2 {
    width: 50%; }
  .mobile-col-1-4 {
    width: 25%; }
  .mobile-col-1-8 {
    width: 12.5%; } }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 18px 0; }

.tera {
  font-size: 86px; }

.giga {
  font-size: 60px; }

.mega {
  font-size: 48px; }

.alpha {
  font-size: 36px; }

.beta {
  font-size: 26px; }

.gamma {
  font-size: 22px; }

.delta {
  font-size: 16px; }

.epsilon {
  font-size: 14px; }

.zeta {
  font-size: 12px; }

h1, .h1 {
  font-size: 86px;
  font-family: 'ff-dagny-web-pro', helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1; }

h2, .h2 {
  font-size: 60px;
  font-family: 'ff-dagny-web-pro', helvetica, sans-serif;
  font-weight: 700;
  color: #E30613;
  letter-spacing: -1px;
  line-height: 1; }

h3, .h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2; }

h4, .h4 {
  font-size: 22px; }

h5, .h5 {
  font-size: 14px;
  font-family: 'ff-dagny-web-pro', helvetica, sans-serif;
  font-weight: 400;
  color: #E30613;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px; }

h6, .h6 {
  font-size: 12px; }

strong {
  font-weight: 700; }

::-moz-selection {
  background: rgba(57, 51, 63, 0.2); }

::selection {
  background: rgba(57, 51, 63, 0.2); }

a {
  color: #39333F;
  text-decoration: none; }
  a:hover, a.hover {
    cursor: pointer;
    color: #534a5b; }
  a:active, a.active {
    color: #201c23; }
  a.visited {
    color: #131115; }

.btn, button {
  font-family: 'ff-dagny-web-pro', helvetica, sans-serif;
  margin-bottom: 0;
  border: none;
  border-radius: 25px;
  background: none;
  -webkit-appearance: none;
  line-height: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 15px; }
  .btn:focus, button:focus {
    outline: none; }

.btn-line {
  padding: 12px 25px 12px 48px;
  border: 1px solid #39333F;
  color: #39333F;
  opacity: 0.3;
  position: relative; }
  .btn-line:hover {
    opacity: 0.7; }
  .btn-line:after {
    content: "";
    overflow: hidden;
    display: block;
    position: absolute;
    top: 12px;
    left: 22px;
    opacity: 0.5; }

.btn-load {
  clear: both;
  display: table;
  margin: 20px auto 80px; }

input, textarea {
  padding: 10px;
  display: block;
  -webkit-appearance: none;
  border-radius: 0; }
  input:focus, textarea:focus {
    outline: none; }

img {
  max-width: 100%;
  display: block; }

ol {
  padding-left: 1.4em; }
  ol ol, ol ol ol {
    margin-bottom: 0; }

ul {
  padding: 0;
  list-style: none; }
  ul ul, ul ul ul {
    margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-left: 1.4em; }

.gbl-head {
  background-color: #E30613;
  padding: 40px 10px 10px;
  color: white; }
  @media screen and (max-width: 800px) {
    .gbl-head {
      padding-top: 20px; } }
  @media screen and (max-width: 800px) {
    .gbl-head .logo {
      width: calc(100% - 100px);
      padding: 0 0 10px 0;
      float: left; } }
  .gbl-head .logo a {
    color: white;
    font-size: 26px;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    line-height: 1; }
    @media screen and (max-width: 650px) {
      .gbl-head .logo a {
        padding-bottom: 0; } }
    .gbl-head .logo a:hover, .home .gbl-head .logo a {
      border-bottom-color: rgba(255, 255, 255, 0.4); }
  .gbl-head .nav, .gbl-head .contact {
    margin-top: 6px; }
    @media screen and (max-width: 800px) {
      .gbl-head .nav, .gbl-head .contact {
        width: 50%;
        padding-left: 0; } }
    @media screen and (max-width: 650px) {
      .gbl-head .nav, .gbl-head .contact {
        width: 100%;
        margin-top: 0;
        padding-right: 0;
        padding-left: 20px; } }
    .gbl-head .nav a, .gbl-head .contact a {
      color: white;
      font-family: 'ff-dagny-web-pro', helvetica, sans-serif;
      font-weight: 400;
      padding: 10px 15px;
      color: rgba(255, 255, 255, 0.6); }
      @media screen and (max-width: 800px) {
        .gbl-head .nav a:first-child, .gbl-head .contact a:first-child {
          padding-left: 0; } }
      @media screen and (max-width: 650px) {
        .gbl-head .nav a, .gbl-head .contact a {
          border-bottom: 2px solid #342e39;
          background-color: #39333F;
          padding: 20px 20px 20px 0;
          margin: 0;
          font-size: 60px;
          display: block;
          font-weight: 700;
          z-index: 2;
          position: relative; } }
      .gbl-head .nav a:hover, .gbl-head .nav a.active, .gbl-head .contact a:hover, .gbl-head .contact a.active {
        color: white; }
  .gbl-head .contact {
    float: right;
    text-align: right;
    margin-bottom: 10px; }
    @media screen and (max-width: 650px) {
      .gbl-head .contact {
        position: absolute;
        padding: 10px 0 0 20px;
        bottom: 0;
        float: none;
        display: block;
        text-align: left;
        width: 100%; } }
    .gbl-head .contact a {
      padding: 0; }
      @media screen and (max-width: 650px) {
        .gbl-head .contact a {
          padding: 5px 0 0;
          font-size: 16px;
          font-weight: 500;
          border-bottom: none;
          z-index: 0; } }
  .gbl-head .show-menu {
    display: none; }
  .gbl-head .title {
    clear: both;
    padding: 40px 0 10px;
    margin-left: calc(25% + 25px); }
    .gbl-head .title:after {
      content: "";
      display: table;
      clear: both; }
    .home .gbl-head .title {
      font-size: 30px;
      font-family: 'ff-meta-serif-web-pro', georgia, serif;
      font-weight: 500;
      padding: 40px 0 80px;
      line-height: 1.5;
      max-width: 700px; }
      @media screen and (max-width: 800px) {
        .home .gbl-head .title {
          padding: 20px 0 60px;
          font-size: 26px; } }
      @media screen and (max-width: 650px) {
        .home .gbl-head .title {
          padding: 30px 0;
          font-size: 22px; } }
    @media screen and (max-width: 800px) {
      .gbl-head .title {
        margin-left: 0; } }
    @media screen and (max-width: 650px) {
      .gbl-head .title {
        padding: 35px 0 0; } }
    @media screen and (max-width: 650px) {
      .gbl-head .title {
        margin-top: 50px; } }
  @media screen and (max-width: 650px) {
    .gbl-head .inner {
      background-color: #E30613;
      position: fixed;
      top: 0;
      left: 0;
      padding: 30px 20px 0;
      height: 70px;
      width: 100%;
      z-index: 10; }
      .gbl-head .inner .logo {
        position: fixed;
        z-index: 11; }
    .gbl-head .menu {
      border-top: 70px solid #342e39;
      position: fixed;
      height: 100%;
      width: 100%;
      top: -100%;
      left: 0;
      background-color: #39333F;
      overflow: auto;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .gbl-head .show-menu {
      color: transparent;
      overflow: hidden;
      display: block;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      font-size: 1px;
      color: transparent;
      border-radius: 0;
      position: absolute;
      right: 18px;
      bottom: 15px;
      z-index: 2;
      display: block; }
      .gbl-head .show-menu:hover {
        color: transparent; }
      .gbl-head .show-menu:hover {
        cursor: pointer;
        opacity: 0.8; }
      .gbl-head .show-menu:checked {
        -webkit-transform: scale(1.3);
        transform: scale(1.3); }
        .gbl-head .show-menu:checked + .menu {
          top: 0; } }

.gbl-foot {
  background-color: white;
  font-size: 14px; }
  .gbl-foot a:hover {
    color: #E30613; }
  .gbl-foot .address {
    padding: 15px 20px 0;
    max-width: 700px; }
  .gbl-foot .copyright {
    padding: 0 20px 40px;
    max-width: 700px; }

.featured {
  background-color: #EAEAEA;
  padding-top: 40px;
  margin-bottom: 20px; }
  .featured h2 {
    display: table;
    position: relative;
    margin-bottom: -40px;
    margin-left: 7px;
    z-index: 1; }

.post {
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  display: block; }
  .post:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #e2e2e2;
    height: 1px;
    width: calc(100% - 20px); }
    .featured .post:after {
      display: none; }
  .post img {
    margin-bottom: 15px; }
  .post .post-img {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center; }
  .post h3 {
    margin-bottom: 10px; }
  .post .client {
    color: #9a959e;
    margin-top: 5px; }
  .post.col-2-3 h3 {
    font-size: 32px; }
  .post p {
    color: rgba(57, 51, 63, 0.8); }
  .post.col-2-3 p {
    font-size: 18px; }
  .post:hover img {
    opacity: 0.9; }
  .post:hover h3 {
    color: #E30613; }
  .post:hover p {
    color: #39333F; }

.stream .post {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
@media screen and (min-width: 570px) {
  .stream .post:nth-of-type(-n+2):after {
    display: none; }
  .stream .post {
    width: 33.33%; }
    .stream .post img, .stream .post .post-img {
      display: none; }
  .stream .post:nth-of-type(7), .stream .post:nth-of-type(14) {
    width: 66.66%; }
    .stream .post:nth-of-type(7) img, .stream .post:nth-of-type(7) .post-img, .stream .post:nth-of-type(14) img, .stream .post:nth-of-type(14) .post-img {
      display: block; }
  .stream .post:nth-of-type(8) {
    width: 100%; }
    .stream .post:nth-of-type(8) .post-img {
      display: block;
      height: 200px; }
  .stream .post:first-of-type, .stream .post:nth-of-type(2), .stream .post:nth-of-type(12), .stream .post:nth-of-type(13) {
    width: 50%; }
    .stream .post:first-of-type img, .stream .post:first-of-type .post-img, .stream .post:nth-of-type(2) img, .stream .post:nth-of-type(2) .post-img, .stream .post:nth-of-type(12) img, .stream .post:nth-of-type(12) .post-img, .stream .post:nth-of-type(13) img, .stream .post:nth-of-type(13) .post-img {
      display: block; }
  .stream .post:nth-of-type(3), .stream .post:nth-of-type(12) {
    clear: both; }
  .stream .post:nth-of-type(6) img, .stream .post:nth-of-type(6) .post-img, .stream .post:nth-of-type(14) img, .stream .post:nth-of-type(14) .post-img {
    display: block; } }
