.gbl-foot {
  background-color: white;
  font-size: $epsilon;

  a:hover {
    color: $primary;
  }

  .address {
    padding: 15px 10px 0;
    max-width: 700px;
  }

  .copyright {
    padding: 0 10px 40px;
    max-width: 700px;
  }
}