.gbl-head {
  background-color: $primary;
  padding: 40px $gutter $gutter;
  color: white;

  @media screen and ( max-width: $medium + 150px ) {
    padding-top: 20px;
  }

  .logo {
    @media screen and ( max-width: $medium + 150px ) {
      width: calc(100% - 100px);
      padding: 0 0 10px 0;
      float: left;
    }

    a {
      color: white;
      font-size: $beta;
      border-bottom: 3px solid transparent;
      padding-bottom: 5px;
      line-height: 1;

      @media screen and ( max-width: $medium ) {
        padding-bottom: 0;
      }

      &:hover,
      .home & {
        border-bottom-color: rgba(white, 0.4);
      }
    }
  }

  .nav,
  .contact {
    margin-top: 6px;

    @media screen and ( max-width: $medium + 150px ) {
      width: 50%;
      padding-left: 0;
    }

    @media screen and ( max-width: $medium ) {
      width: 100%;
      margin-top: 0;
      padding-right: 0;
      padding-left: 20px;
    }

    a {
      color: white;
      font-family: $sans;
      font-weight: $sans-regular;
      padding: 10px 15px;
      color: rgba(white, 0.6);

        &:first-child {
          padding-left: 10px;
        }

      @media screen and ( max-width: $medium ) {
        border-bottom: 2px solid darken($ink, 2);
        background-color: $ink;
        padding: 20px 20px 20px 0;
        margin: 0;
        font-size: $giga;
        display: block;
        font-weight: $sans-bold;
        z-index: 2;
        position: relative;
      }

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .nav {
    padding-left: 0;

    @media screen and ( max-width: $medium ) {
      padding-left: $gutter * 2;
    }
  }

  .contact {
    float: right;
    text-align: right;
    margin-bottom: 10px;

    @media screen and ( max-width: $medium ) {
      position: absolute;
      padding: 10px 0 $gutter $gutter;
      bottom: 0;
      float: none;
      display: block;
      text-align: left;
      width: 100%;
    }

    a {
      padding: 0;

      @media screen and ( max-width: $medium ) {
        padding: 5px 0 0;
        font-size: $delta;
        font-weight: $serif-regular;
        border-bottom: none;
        z-index: 0;
      }
    }
  }

  .show-menu {
    display: none;
  }

  .title {
    @include clearfix;
    padding: 40px 0 10px;
    margin-left: calc(25% + 10px);

    .home & {
      font-size: $beta + 4px;
      font-family: $serif;
      font-weight: $serif-regular;
      padding: 40px 0 80px;
      line-height: 1.5;
      max-width: 700px;

      @media screen and ( max-width: $medium + 150px ) {
        padding: 20px inherit 60px;
        font-size: $beta;
      }

      @media screen and ( max-width: $medium ) {
        padding: 30px 0;
        font-size: $gamma;
      }
    }

    @media screen and ( max-width: $medium + 150px ) {
      margin-left: 0;
    }

    @media screen and ( max-width: $medium ) {
      padding: 35px 0 0;
    }

    @media screen and ( max-width: $medium ) {
      margin-top: 50px;
    }
  }

  @media screen and ( max-width: $medium ) {
    .inner {
      background-color: $primary;
      position: fixed;
      top: 0;
      left: 0;
      padding: 30px 20px 0;
      height: 70px;
      width: 100%;
      z-index: 10;

      .logo {
        position: fixed;
        z-index: 11;
      }
    }

    .menu {
      border-top: 70px solid darken($ink, 2);
      position: fixed;
      height: 100%;
      width: 100%;
      top: -100%;
      left: 0;
      background-color: $ink;
      overflow: auto;
      transition: 0.4s;
    }

    .show-menu {
      @include icon;
      @extend .i-menu;
      transform: scale(1.2);
      font-size: 1px;
      color: transparent;
      border-radius: 0;
      position: absolute;
      right: 18px;
      bottom: 20px;
      z-index: 2;
      display: block;
      border: none;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:checked {
        @extend .i-close;
        transform: scale(1.3);

        & + .menu {
          top: 0;
        }
      }
    }
  }
}