//================================================
// GLOBAL HEAD
//================================================
.gbl-head {
  background-color: $primary;
  padding: 40px $gutter $gutter;
  color: white;

  .logo {
    color: white;
    font-size: $beta;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;

    &:hover {
      border-bottom-color: rgba(white, 0.4);
    }
  }

  .nav,
  .contact {
    margin-top: 13px;

    a {
      color: white;
      font-family: $sans;
      padding: 10px 15px;
      color: rgba(white, 0.6);

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .contact {
    float: right;
    text-align: right;
    margin-bottom: 10px;

    a {
      padding: 0;
    }
  }

  .title {
    @include clearfix;
    padding: 40px 0 0;
    margin-left: calc(25% + 35px);

    .home & {
      font-size: $beta;
      font-family: $serif;
      font-weight: $regular;
      padding: 40px 0 80px;
      line-height: 1.5;
      max-width: 700px;
    }
  }
}