.gbl-foot {
  color: lighten($light-ink, 20);
  background-color: white;
  font-size: $epsilon;

  a {
    color: lighten($light-ink, 20);
  }
  
  a:hover {
    color: $primary;
  }

  .address {
    padding: 15px 10px 0;
    max-width: 700px;
    display: table;
  }

  .copyright {
    padding: 0 10px 40px;
    max-width: 700px;
  }
}