.gbl-head {
  background-color: $primary;
  padding: 40px 0 $gutter;
  color: white;

  @media screen and ( max-width: $medium ) {
    padding-top: 20px;
  }

  .logo {
    @media screen and ( max-width: $medium ) {
      width: calc(100% - 100px);
      margin-bottom: 10px;
      float: left;
    }

    a {
      color: white;
      font-size: $beta - 4px;
      border-bottom: 3px solid transparent;
      line-height: 1;

      &:hover,
      .home & {
        border-bottom-color: rgba(white, 0.4);
      }
    }
  }

  .nav,
  .contact {
    @media screen and ( max-width: $medium ) {
      width: 100%;
      padding-right: 0;
    }

    a {
      color: white;
      font-family: $sans;
      font-weight: $sans-regular;
      padding: 10px 15px;
      color: rgba(white, 0.6);

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .nav {
    margin-top: 3px;
    padding-left: 0;

    @media screen and ( max-width: $medium ) {
      width: auto;
      float: left;
    }

    a {
      &:first-child {
        padding-left: 10px;

        @media screen and ( max-width: $medium ) {
          padding-left: 0;
        }
      }
    }
  }

  .contact {
    float: right;
    text-align: right;
    top: -10px;
    margin-bottom: 10px;
    position: relative;

    @media screen and ( max-width: $medium ) {
      width: auto;
      top: auto;
      right: -15px;
    }

    @media screen and ( max-width: $small ) {
      @include clearfix;
      padding: $gutter 0;
      float: none;
      right: auto;
      text-align: left;
      width: 100%;
    }

    a {
      vertical-align: top;
      display: inline-block;
      padding-right: 0;
      width: 42px;
      height: 42px;
      overflow: hidden;
      position: absolute;

      @media screen and ( max-width: $small ) {
        position: relative;
        margin: 10px 7px 0 0;
      }

      span {
        font-family: $sans;
        font-weight: $sans-regular;
        color: rgba(white, 0.6);
        position: absolute;
        top: 45px;
        opacity: 0;
        right: 0;
        width: 200px;
        transition: 0.2s;

        @media screen and ( max-width: $medium ) {
          top: auto;
          bottom: -25px;
          font-size: $zeta + 2px;
        }

        @media screen and ( max-width: $small ) {
          display: none;
        }
      }

      &:before {
        @include icon-pseudo;
        border: 1px solid rgba(white, 0.3);
        border-radius: 50%;
        width: 41px;
        height: 41px;
        top: 0;
        left: 0;
        transition: 0.2s;
      }

      &:hover {
        overflow: visible;

        span {
          opacity: 1;
        }

        &:before {
          border: 1px solid rgba(white, 0.6);
        }
      }

      &:after {
        @include icon-pseudo;
      }
    }

    .contact-email { 
      right: 106px;

      @media screen and ( max-width: $small ) {
        right: auto;
      }

      &:after {
        @include sprite($email-white);
        top: 13px;
        left: 11px;
      }
    }

    .contact-phone {
      right: 58px;

      @media screen and ( max-width: $small ) {
        right: auto;
      }

      &:after  {
        @include sprite($phone-white);
        top: 12px;
        left: 12px;
      }
    }

    .contact-twitter {
      right: 10px;

      @media screen and ( max-width: $small ) {
        right: auto;
      }

      &:after  {
        @include sprite($twitter-white);
        top: 13px;
        left: 12px;
      }
    }
  }

  .btn-menu {
    display: none;
    transition: 0.2s;
  }

  .title {
    @include clearfix;
    padding: 90px $gutter 10px 0;
    margin-left: calc(25% + 10px);

    @media screen and ( max-width: $medium ) {
      padding-top: 80px;
      padding-left: $gutter;
      margin-left: 0;
    }

    .home & {
      font-size: $beta + 4px;
      font-family: $serif;
      font-weight: $serif-regular;
      padding: 80px $gutter 80px 0;
      line-height: 1.4;
      max-width: 700px;

      @media screen and ( max-width: $medium ) {
        padding: 80px $gutter 40px;
        font-size: $beta;
      }

      @media screen and ( max-width: $small ) {
        font-size: $beta - 6px;
        line-height: 1.4;
      }
    }
  }

  @media screen and ( max-width: $medium ) {
    .head {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      padding: $gutter * 2 $gutter 5px;
      z-index: 10;

      &:after {
        content: "";
        background-color: $primary;
        width: 100%;
        height: 62px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .logo {
        margin-bottom: 0;
        z-index: 3;
        position: relative;
      }
    }

    .btn-menu {
      @include icon;
      @include sprite($menu-white);
      transform: scale(1.2);
      font-size: 1px;
      color: transparent;
      border-radius: 0;
      position: absolute;
      right: 18px;
      top: 24px;
      z-index: 3;
      display: block;
      border: none;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &.active {
        @include sprite($close-white);
        transform: scale(1.3);

        & + .menu {
          top: 62px;
        }
      }
    }

    .menu {
      min-height: 90px;
      width: calc(100% + 20px);
      top: -300px;
      left: -10px;
      transition: 0.4s;
      position: absolute;
      padding: 15px 30px 0;
      background-color: rgba(darken($primary, 7), 0.95);
      z-index: 1;
    }
  }
}