.gbl-head {
  background-color: $primary;
  padding: 40px 0 $gutter;
  color: white;

  @media screen and ( max-width: $medium ) {
    padding-top: 20px;
  }

  .logo {
    @media screen and ( max-width: $medium ) {
      width: calc(100% - 100px);
      margin-bottom: 10px;
      float: left;
    }

    a {
      color: white;
      font-size: $beta;
      border-bottom: 3px solid transparent;
      line-height: 1;
      padding-bottom: 3px;

      &:hover,
      .home & {
        border-bottom-color: rgba(white, 0.4);
      }
    }
  }

  .nav,
  .contact {
    margin-top: 5px;
    padding-left: 0;

    @media screen and ( max-width: $medium ) {
      width: 100%;
      padding-right: 0;
    }

    a {
      color: white;
      font-family: $sans;
      font-weight: $sans-regular;
      padding: 10px 15px;
      color: rgba(white, 0.6);

      &:first-child {
        padding-left: 10px;

        @media screen and ( max-width: $medium ) {
          padding-left: 0;
        }
      }

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .contact {
    float: right;
    text-align: right;
    margin-bottom: 10px;

    a {
      padding-right: 0;
    }

    @media screen and ( max-width: $medium ) {
      @include clearfix;
      padding: $gutter 0;
      float: none;
      display: block;
      text-align: left;
      width: 100%;
    }
  }

  .btn-menu {
    display: none;
    transition: 0.2s;
  }

  .title {
    @include clearfix;
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 10px;
    margin-left: calc(25% + 10px);

    @media screen and ( max-width: $medium ) {
      padding-top: 80px;
      padding-left: $gutter;
      margin-left: 0;
    }

    .home & {
      font-size: $beta + 4px;
      font-family: $serif;
      font-weight: $serif-regular;
      padding: 40px 0 80px;
      line-height: 1.5;
      max-width: 700px;

      @media screen and ( max-width: $medium ) {
        padding: 70px $gutter 40px;
        font-size: $beta;
      }

      @media screen and ( max-width: $small ) {
        font-size: $beta - 2px;
        line-height: 1.3;
      }
    }
  }

  @media screen and ( max-width: $medium ) {
    .head {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      padding: $gutter * 2 $gutter 5px;
      z-index: 10;

      &:after {
        content: "";
        background-color: $primary;
        width: 100%;
        height: 62px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .logo {
        margin-bottom: 0;
        z-index: 3;
        position: relative;
      }
    }

    .btn-menu {
      @include icon;
      @include sprite($menu-white);
      transform: scale(1.2);
      font-size: 1px;
      color: transparent;
      border-radius: 0;
      position: absolute;
      right: 18px;
      top: 24px;
      z-index: 3;
      display: block;
      border: none;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &.active {
        @include sprite($close-white);
        transform: scale(1.3);

        & + .menu {
          top: 62px;
        }
      }
    }

    .menu {
      width: calc(100% + 20px);
      top: -300px;
      left: -10px;
      transition: 0.4s;
      position: absolute;
      padding: 15px 30px 0;
      background-color: darken($primary, 7);
      z-index: 1;
    }
  }
}