.stream {
  padding-left: 0;
  padding-right: 0;

  .post {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;

    .home &:before {
      width: calc(100% - 40px);
      left: 20px;
    }

    &:first-of-type:before {
      display: none;
    }
  }

  @media screen and ( min-width: $small ) {
    .post:nth-of-type(-n+2):before {
      display: none;
    }

    .post {
      width: 33.33%;

      img,
      .post-img {
        display: none;
      }
    }

    .post-img {
      display: block;
      background-color: $slate;
      position: relative;
      overflow: hidden;
      
      &:after { 
        @include icon-pseudo; 
        opacity: 0.2;
        top: 50%;
        right: 50px;
        transform: translateY(-50%) scale(2.5);
      }
    }

    .post:nth-of-type(8) {
      width: 100%;

      .post-img {
        display: block;
        height: 250px;

        &.post-img-empty { display: none; }
      }
    }

    .post:first-of-type,
    .post:nth-of-type(2),
    .post:nth-of-type(6),
    .post:nth-of-type(7),
    .post:nth-of-type(12),
    .post:nth-of-type(13) {
      width: 50%;

      .post-img {
        display: block;
        height: 240px;
      }
    }

    .post:nth-of-type(3),
    .post:nth-of-type(6),
    .post:nth-of-type(12),
    .post:nth-of-type(14),
    .post:nth-of-type(3n+17) {
      clear: both;
    }

    .post:nth-of-type(6) {
      img,
      .post-img {
        display: block;
      }
    }

    .post:nth-of-type(1n+17) {
      .post-img {
        display: none;
      }
    }
  }
}

.post-img-empty {
    .comment &:after { @include sprite($link-grey-lrg); }
    .longread &:after { @include sprite($pen-grey-lrg); }
    .news &:after {
      @include sprite($news-grey-lrg);
      transform: translateY(-50%) scale(2.2);
    }
  }